(
    texture_width: 690,
    texture_height: 230,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 230,
            height: 230,
        ),
        (
            x: 230,
            y: 0,
            width: 230,
            height: 230,
        ),
        (
            x: 460,
            y: 0,
            width: 230,
            height: 230,
        )
    ]
)